[submodule "01-the-forgotten-file"]
	path = 01-the-forgotten-file
	url = git@github.com:pgurnig/git-kata-01-the-forgotten-file.git
[submodule "02-the-misnamed-commit"]
	path = 02-the-misnamed-commit
	url = git@github.com:pgurnig/git-kata-02-the-misnamed-commit.git
[submodule "03-the-unwanted-file"]
	path = 03-the-unwanted-file
	url = git@github.com:pgurnig/git-kata-03-the-unwanted-file.git
[submodule "04-the-missing-changes"]
	path = 04-the-missing-changes
	url = git@github.com:pgurnig/git-kata-04-the-missing-changes.git
[submodule "05-the-branch-that-got-away"]
	path = 05-the-branch-that-got-away
	url = git@github.com:pgurnig/git-kata-05-the-branch-that-got-away.git
